body {
	margin: auto;
	background: #111;
    padding: 30px;
    color: #fff;
}

nav.navbar-fixed-top {
	background-color: #111;
	border-color: #222 !important;
}

.navbar-brand {
	font-family: 'Bungee', sans-serif;
}

.navbar-toggle {
	border-color: #666;
}

span.icon-bar {
	background-color: #666;
}


.container {
	padding-right: 0;
	padding-left: 0;
	padding: auto;
	margin: auto;
	max-width: 500px;
	/*text-align:center;*/
}

.container-games {
	background-color: #191919;
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 200px;
	max-width: 500px;
	/*text-align: center;*/
}

.fa-edit {
	color: #666;
}

hr {
	border: 1px solid #222;
	color: #222;
	background-color: #222;
	margin: 10px;
}

ul {
	padding-left: 0px;
	list-style: none;
}

a {
	color: #666;
	text-decoration: none;
}

a:hover {
	background-color: #111;
	color: #ff00ad;
}

li {
	font-size: 15px;
	letter-spacing: 2px;
}

li:hover {
	background-color: #111;
}

h1	{
	text-align: center;
	font-family: 'Bungee Shade', sans-serif;
	color: #ff00ad;
	font-size: 62px;
	line-height: 1;
	padding-top: 100px;
	padding-bottom: 10px;
	/* This creates the gradient*/
/*	background: -webkit-linear-gradient(#ff00ad, #eb00ff);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;*/
}

h2	{
	text-align: center;
	font-family: 'Bungee', sans-serif;
	color: #ff00ad;
	font-size: 42px;
	padding-top: 60px;
}

h3	{
	font-family: 'Bungee', sans-serif;
	padding-bottom: 10px;
	padding-top: 20px;
	font-size: 30px;
}

p.p-landing {
	text-align: center;
	font-size: 16px;
	letter-spacing: 2px;
	max-width: 400px;
	margin: auto;
	color: #666;
}

.btn-default {
	text-align: center;
	color: #ff00ad;
	background-color: #111;
	border: 1px solid #ff00ad;
	padding: 12px;
	box-shadow: -2px 2px 0px #ff00ad;
	transform: scale(1, 1);
  	transition: transform 0.20s ease;
}

.btn-default:hover {
	text-align: center;
	color: #ff00ad;
	background-color: #111;
	border: 1px solid #ff00ad;
	padding: 12px;
	box-shadow: -2px 2px 0px #ff00ad;
	transform: scale(1.1, 1.1);
/*	text-decoration: underline;*/
/*	opacity: 0.2;*/
}

input {
	color: #666;
	background-color: #333;
	border: none;
}

select {
	color: #222;
}

#gameName {
	width: 100%;
	/*max-width: 500px;*/
	padding: 10px;
	font-size: 16px;
	margin-bottom: 10px;
}

#gameScore {
	width: 100%;
	/*max-width: 500px;*/
	padding: 10px;
	font-size: 16px;
}






