body {
	margin: 0;
	padding: 0;
	/*margin: auto;*/
	background: #111;
    padding: 30px;
    color: #fff;
}

nav.navbar-fixed-top {
	background-color: #111;
	border-color: #222 !important;
	position: fixed;
	text-align: left;
    padding-left: 30px;
}

.navbar-brand {
	font-family: 'Bungee', sans-serif;
	font-size: 14px;
}

.navbar-toggle {
	border-color: #666;
}

span.icon-bar {
	background-color: #666;
}


.container {
	padding-right: 0;
	padding-left: 0;
	padding: auto;
	margin: auto;
	max-width: 500px;
	/*text-align:center;*/
}

.container-games {
	background-color: #191919;
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 200px;
	max-width: 500px;
	/*text-align: center;*/
}

.fa-edit {
	color: #666;
}

hr {
	border: 1px solid #222;
	color: #222;
	background-color: #222;
	margin: 10px;
}

ul {
	padding-left: 0px;
	list-style: none;
}

a {
	color: #666;
	text-decoration: none;
}

a:hover {
	background-color: #111;
	color: #ff00ad;
}

li {
	font-size: 15px;
	letter-spacing: 2px;
}

li:hover {
	background-color: #111;
}

h1	{
	text-align: center;
	font-family: 'Bungee Shade', sans-serif;
	color: #ff00ad;
	font-size: 62px;
	line-height: 1;
	padding-top: 100px;
	padding-bottom: 10px;
	/* This creates the gradient*/
/*	background: -webkit-linear-gradient(#ff00ad, #eb00ff);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;*/
}

h2	{
	text-align: center;
	font-family: 'Bungee', sans-serif;
	color: #ff00ad;
	font-size: 42px;
	padding-top: 60px;
}

h3	{
	font-family: 'Bungee', sans-serif;
	padding-bottom: 10px;
	padding-top: 20px;
	font-size: 30px;
}

h6 {
	padding: 0px;
	margin: 0px;
	font-size: 14px;
	color: #666;
}

p {
	text-align: center;
}

p.p-landing {
	text-align: center;
	font-size: 16px;
	letter-spacing: 2px;
	max-width: 400px;
	margin: auto;
	color: #666;
}

.btn-default {
	text-align: center;
	color: #ff00ad;
	background-color: #111;
	border: 1px solid #ff00ad;
	padding: 12px;
	box-shadow: -2px 2px 0px #ff00ad;
	transform: scale(1, 1);
  	transition: transform 0.20s ease;
}

.btn-default:hover {
	text-align: center;
	color: #ff00ad;
	background-color: #111;
	border: 1px solid #ff00ad;
	padding: 12px;
	box-shadow: -2px 2px 0px #ff00ad;
	transform: scale(1.1, 1.1);
/*	text-decoration: underline;*/
/*	opacity: 0.2;*/
}

.btn-secondary {
	text-align: center;
	color: #ff00ad;
	background-color: #111;
	border: 1px solid #ff00ad;
	padding: 12px;
	margin-top: 10px;
	min-height: 40px;
}

.btn-secondary:hover {
	text-align: center;
	color: #ff00ad;
	background-color: #222;
	border: 1px solid #ff00ad;
	padding: 12px;
	margin-top: 10px;
}

input.btn.btn-success-sm {
	text-align: center;
	color: #ff00ad;
	background-color: #111;
	padding-left: 12px;
	padding-right: 12px;
	border: 1px solid #ff00ad;
}

input {
	color: #666;
	background-color: #333;
	border: none;
	padding: 10px !important;
	margin: auto;
	/*display: inline;*/
	/*min-width: 230px;*/
}

/*#password.input {
	padding: 10px;
}*/

select {
	color: #666;
	background-color: #333;
	height: 40px;
	border-style: none;
	margin-right: 10px;
}

#gameName {
	width: 100%;
	/*max-width: 500px;*/
	padding: 10px;
	font-size: 16px;
	margin-bottom: 10px;
}

#gameScore {
	width: 100%;
	/*max-width: 500px;*/
	padding: 10px;
	font-size: 16px;
}


/* background animation*/

.hero-bkg-animated {
  background: gray url(/darknessuse.jpg) repeat 0 0;
  width: 100%;
  margin: 0;
  text-align: center;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 300px;
  box-sizing: border-box;
  -webkit-animation: slide 20s linear infinite;
}


@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -800px 0; }
}




